*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    margin-top: 120px;
}

body{
    background: #004643;
    color: #abd1c6;
}

main{
    min-width: 360px;
    max-width: 1300px;
    margin:auto;
}

body h2{
    margin-top: 8%;
    border-bottom: 0.1rem solid #00ffff;
    color: #fffffe;
}

.utilizarEspaço{
    margin-top: 2%;
}

header ul{
    display: flex;
    flex-direction: column;  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0.1rem solid black;
    background-color: #fffffe;
   

    justify-content: space-evenly;
}

header ul nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 4%;
    margin-top: 5px;
    margin-bottom: 5px;
}

header ul li a{
    /* background-color: #f9bc60 */
    text-decoration: none;
    color: #004643;
   
}

.aside-img{
    display: flex;
    flex-direction: row;
}

.icone{
    width: 150px;
    height: 150px;
    background-color: #fffffe;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#objetivo{
    margin-top: 8%;
}

.espacoNoEndereco{
    display: flex;
    flex-direction: row;
}

.marginDoEndereco{
    margin-left: 3%;
}

.aside-img img{
    width: 34px;
    height: 34px;
    margin-left: 1.5%;
}

.cachoeira{
    background-image: url("img/Tulips.jpg");
    padding-top: 7%;
    border: 0.1rem solid white;
    max-height: 300px;
}