*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    background: #004643;
    color: #abd1c6;
}

body h2{
    padding-top: 5%;
    border-bottom: 0.1rem solid #00ffff;
    color: #fffffe;
}

.utilizarEspaço{
    margin-top: 2%;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.1rem solid black;
    padding: 1.5rem 0rem 1.5rem 0.5rem;
    position: fixed;
    top: 0;
    width: 99%;
    background-color: #fffffe;
    line-height: 50%;
}

header ul li a{
    /* background-color: #f9bc60 */
    padding: 0.4rem 0.2rem 0.9rem 0rem;
    text-decoration: none;
    color: #004643;
}

.aside-img{
    display: flex;
    flex-direction: row;
}

img{
    width: 15%;
    padding-top: 7%;
    margin: 3%;
}

.objetivo{
    width: 75%;
}

#objetivo{
    padding-top: 8%;
}

.espacoNoEndereco{
    display: flex;
    flex-direction: row;
}

.marginDoEndereco{
    margin-left: 3%;
}